<a href="https://colab.research.google.com/github/gk0434/Gautam_DTSC_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1)
fruits = ["kiwi", "strawberry", "pineapple"]
print("Entire list:", fruits)
print("First fruit:", fruits[0])
print("Second fruit:", fruits[1])
print("Third fruit:", fruits[2])

Entire list: ['kiwi', 'strawberry', 'pineapple']
First fruit: kiwi
Second fruit: strawberry
Third fruit: pineapple

In [2]:
#2)
names = ["Ashley", "Gautam", "Sam", "Ruth"]
names[0] = "Marty"
print("New list of names:",names)

New list of names: ['Marty', 'Gautam', 'Sam', 'Ruth']

In [3]:
#3)
vehicles = ["car","bike","bus","scooter","train",]
vehicles.append("plane")
print("New list of vehicles:",vehicles)

New list of vehicles: ['car', 'bike', 'bus', 'scooter', 'train', 'plane']

In [6]:
#4)
foods = ["pasta", "yogurt", "milkshake", "icecream", "sushi", "cake"]
foods.remove("pasta")
print("Foods after removal:", foods)

Foods after removal: ['yogurt', 'milkshake', 'icecream', 'sushi', 'cake']

In [7]:
#5)
cities = ["Los Angeles", "Dallas", "Beijing", "Madrid"]
cities.sort()
print("Cities in alphabetical order:", cities)
cities.reverse()
print("Cities in reverse order:", cities)

Cities in alphabetical order: ['Beijing', 'Dallas', 'Los Angeles', 'Madrid']
Cities in reverse order: ['Madrid', 'Los Angeles', 'Dallas', 'Beijing']

In [22]:
#6)
animals = ["dog","cat","cow"]
for animal in animals:
  print("animal:",animal)

animal: dog
animal: cat
animal: cow

In [28]:
#7)
numbers = [1,2,3,4,5]
for num in numbers:
  print(num,"multiplied by 2 is", num * 2)

1 multiplied by 2 is 2
2 multiplied by 2 is 4
3 multiplied by 2 is 6
4 multiplied by 2 is 8
5 multiplied by 2 is 10

In [32]:
#8)
friends = ["Ashley", "Gautam", "Sam", "Ruth","Wendy","Jonah"]
print("First three friends:", friends[:3])
print("Last three friends:", friends[-3:])

First three friends: ['Ashley', 'Gautam', 'Sam']
Last three friends: ['Ruth', 'Wendy', 'Jonah']

In [33]:
#9)
num_list = list(range(1,11))
print("Numbers from 1 to 10:", num_list)

Numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
#10)
squares = [x**2 for x in range(1,6)]
print("Squares of numbers 1 to 5:",squares)

Squares of numbers 1 to 5: [1, 4, 9, 16, 25]