<a href="https://colab.research.google.com/github/gk0434/Gautam_DTSC_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [1]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_student = min(grades, key=grades.get)
print("Student with the lowest grade:", lowest_student, grades[lowest_student])

Student with the lowest grade: Omid 16

Exercise 2: print names of students who registered for any course containing "Data"

In [2]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
print("Students registered in 'Data' courses:")
for name, course_list in courses.items():
    for course in course_list:
        if "Data" in course:
            print(name)
            break

Students registered in 'Data' courses:
Sara
Reza

Exercise 3: Print titles of books that are not available.

In [3]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:


print("Books not available:")
for title, info in library.items():
    if not info['available']:
        print(title)

Books not available:
AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [4]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
print("Students with more than 2 courses:")
for student, reg_list in registrations.items():
    if len(reg_list) > 2:
        print(student)

Students with more than 2 courses:
Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
average_grade = sum(grades.values()) / len(grades)
print("Average grade of the class:", average_grade)

Average grade of the class: 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

count_python = sum("Python" in course_list for course_list in courses.values())
print("Number of students registered for Python:", count_python)

Number of students registered for Python: 3

Exercise 7: Print titles of books with more than 200 pages.

In [7]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
print("Books with more than 200 pages:")
for title, pages in book_pages.items():
    if pages > 200:
        print(title)

Books with more than 200 pages:
AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [ ]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
print("Students and number of registered courses:")
for student, course_list in courses.items():
    print(student, ":", len(course_list)